* {
  font-family: "Helvetica", tahoma, sans-serif;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-size: 11pt;
}

/*** Login */
div.login {
  width: 440px;
  height: 300px;
  margin-top: -150px;
  margin-left: -220px;
  position: absolute;;
  top: 50%;
  left: 50%;
}

div.login div.banner {
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 50px;
  height: 100px;
  line-height: 100px;
  margin: 0px 0px 20px 0px;
}

/*** Sidebar */

div.sidebar {
  width: 200px;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  float: left;
}

div.sidebar div.logo {
  height: 70px;
  line-height: 70px;
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 30px;
}

a.logo {
  color: #fff;
  text-decoration: none;
}

a.logo:hover {
  border-bottom: 2px solid #fff;
}

div.sidebar div.section span.title {
  display: block;
  height: 40px;
  line-height: 40px;
  background: #b3b3b3;
  padding-left: 20px;
  color: #fff;
}

div.sidebar div.section a {
  display: block;
  height: 35px;
  line-height: 35px;
  background: #fff;
  color: #000;
  padding-left: 20px;
  text-decoration: none;
}

div.sidebar div.section a:hover {
  background: #dedede;
  font-weight: bold;
}

/*** Body */

div.body {
  padding: 20px 30px 20px 230px;
}

div.body p {
  margin-bottom: 25px;
}

div.body h1 {
  font-size: 25px;
  margin: 0px 0px 20px 0px;
}

div.body h2 {
  background: #b3b3b3;
  font-size: 100%;
  color: #fff;
  font-weight: normal;
  height: 40px;
  padding-left: 20px;
  line-height: 40px;
}

/** Information classes */

span.icon_info {
  font-family: serif;
  font-size: 22px;
  margin: 0px 10px 0px 10px;
  line-height: 22px;
  vertical-align: middle;
  font-weight: bold;
  font-style: italic; 
}

div.information {
  border: 2px solid #b3b3b3;
  background: #d5d5d5;
  padding: 10px;
  clear: both;
  margin: 0px 0px 15px 0px;
}

div.information p {
  margin: 0px;
}

div.information.blue {
  border: 2px solid #7cb5d0;
  background: #cadff3;
}

div.information.red {
  border: 2px solid #c51a1a;
  background: #ffcfcf;
}

/** Fields */

div.field {
  padding: 10px 20px 0px 20px;
  clear: both;
}

div.field div {
  float: left;
  width: 50%;
  margin: 0px 0px 15px 0px;
}

div.field div.value {
  text-align: right;
}

div.field div.info span.title {
  font-weight: bold;
}

div.field div.info p.description {
  margin: 5px 0px 0px 0px;
}

/*** Inputs */

input, textarea {
  border: 1px solid #b3b3b3;
  padding: 6px;
  font-size: 12pt;
}

textarea {
  font-size: 10pt;
  width: 90%;
  height: 80px;
  resize: none;
}

input:focus, textarea:focus {
  border: 1px solid #000;
}

/*** Data */

table {
  width: 100%;
  border-spacing: 0px;
}

table thead tr {
  height: 40px;
  background: #b3b3b3;
  color: #fff;
}

table thead tr td {
  padding-left: 15px;
}

table thead tr td a {
  text-decoration: none;
  color: #fff;
}

table tbody tr td {
  height: 40px;
  padding-left: 15px;
}

table tbody tr td a.button {
  margin: 0px 7px 0px 7px;
  text-decoration: none;
}

table tbody tr td a.button.red {
  color: #f00;
}

/*** Code */
span.code {
  font-family: monospace;
}